<style>
    .p4 {
        background-image: url('../../assets/img/login.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        padding-top: 80px;
    }

    .card-style {
        background-image: linear-gradient(to bottom right, #ffd3ac, #f79d65);
        box-shadow: 9px 8px 7px #001a33;
        border-radius: 10px;
    }
</style>

<div class="p4">

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-4">

                <div class="card card-style">
                    <div class="card-body">

                        <!-- TITLE -->
                        <h3 class="text-center text-dark mb-3">
                            <b>{{'Login' | translate}}</b>
                        </h3>

                        <!-- SUCCESS / ERROR -->
                        <div class="text-center mb-2">
                            <div *ngIf="!form.error && form.message" class="alert alert-success p-1">
                                {{ form.message }}
                            </div>
                            <div *ngIf="form.error && form.message" class="alert alert-danger p-1">
                                {{ form.message }}
                            </div>
                        </div>

                        <!-- LOGIN ID -->
                        <label><b>{{'LoginId' | translate}}</b> <span class="text-danger">*</span></label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="form.data.loginId" name="loginId"
                                placeholder="Enter Login ID">
                        </div>
                        <div>
                            <span class="text-danger">{{form.inputerror.loginId}}</span>
                        </div>

                        <!-- PASSWORD -->
                        <label class="mt-2"><b>{{'Password' | translate}}</b> <span class="text-danger">*</span></label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" [(ngModel)]="form.data.password" name="password"
                                placeholder="Enter Password">
                        </div>
                        <div>
                            <span class="text-danger">{{form.inputerror.password}}</span>
                        </div   >

                        <!-- BUTTONS -->
                        <div class="text-center mt-3">
                            <button class="btn btn-success mr-2" (click)="signIn()">
                                {{'Button.SignIn' | translate}}
                            </button>

                            <button class="btn btn-primary" (click)="signUp()">
                                {{'Button.SignUp' | translate}}
                            </button>
                        </div>

                        <!-- FORGOT PASSWORD -->
                        <div class="text-center mt-3">
                            <a [routerLink]="['/forgotpassword']" class="text-dark">
                                <b><u>{{'Links.ForgetPassword' | translate}}</u></b>
                            </a>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>