<style>
    .hm {
        background-image: url('assets/img/list.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding-top: 85px;
        padding-bottom: 90px;
        min-height: 100vh;
    }

    .text {
        text-align: center;
    }

    .table tbody tr {
        font-weight: bold;
    }
</style>

<div class="hm">

    <div class="container-fluid">

        <!-- TITLE -->
        <div class="text-center pt-3">
            <h1 class="fw-bold text-dark">
                <u>{{'Faculty.Title.List' | translate}}</u>
            </h1>
        </div>

        <!-- MESSAGE -->
        <div *ngIf="form.error" class="alert alert-danger text-center">
            {{form.message}}
            <button type="button" class="close" (click)="closeMessage()">
                <span>&times;</span>
            </button>
        </div>

        <div *ngIf="!form.error && form.message" class="alert alert-success text-center">
            {{form.message}}
            <button type="button" class="close" (click)="closeMessage()">
                <span>&times;</span>
            </button>
        </div>

        <!-- SEARCH -->
        <div class="row mt-3" *ngIf="form.list.length > 0">

            <div class="col-sm-2"></div>

            <div class="col-sm-2">
                <input type="text" class="form-control" [(ngModel)]="form.searchParams.firstName"
                    placeholder="Enter First Name">
            </div>

            <div class="col-sm-2">
                <input type="text" class="form-control" [(ngModel)]="form.searchParams.email"
                    placeholder="Enter Email ID">
            </div>

            <div class="col-sm-4">
                <button class="btn btn-primary me-2" (click)="search()">
                    {{'Common.Search' | translate}}
                </button>

                <button class="btn btn-dark" (click)="reset()">
                    {{'Common.Reset' | translate}}
                </button>
            </div>

            <div class="col-sm-2"></div>
        </div>

        <br>

        <!-- TABLE -->
        <div class="table-responsive" *ngIf="form.list.length > 0">

            <table class="table table-bordered table-striped table-hover">

                <thead>
                    <tr style="background-color:#f79d65; font-size:16px;">

                        <th>
                            <input type="checkbox" [(ngModel)]="isMasterSel" (change)="checkUncheckAll($event)">
                            {{'Common.SelectAll' | translate}}
                        </th>

                        <th class="text">{{'Common.SNo' | translate}}</th>
                        <th class="text">{{'Faculty.Fields.FirstName' | translate}}</th>
                        <th class="text">{{'Faculty.Fields.LastName' | translate}}</th>
                        <th class="text">{{'Faculty.Fields.DOB' | translate}}</th>
                        <th class="text">{{'Faculty.Fields.Gender' | translate}}</th>
                        <th class="text">{{'Faculty.Fields.Mobile' | translate}}</th>
                        <th class="text">{{'Faculty.Fields.Email' | translate}}</th>
                        <th class="text">{{'Faculty.Fields.Qualification' | translate}}</th>
                        <th class="text">{{'Faculty.Fields.College' | translate}}</th>
                        <th class="text">{{'Faculty.Fields.Course' | translate}}</th>
                        <th class="text">{{'Faculty.Fields.Subject' | translate}}</th>
                        <th class="text">{{'Common.Edit' | translate}}</th>

                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let m of form.list; let i = index">

                        <td class="text">
                            <input #checkboxes type="checkbox" (change)="checklistUpdate()" [id]="m.id" [value]="m.id">
                        </td>

                        <td class="text">{{(form.pageNo*5)+i+1}}</td>
                        <td class="text">{{m.firstName}}</td>
                        <td class="text">{{m.lastName}}</td>
                        <td class="text">{{m.dob | date:'dd-MM-yyyy'}}</td>
                        <td class="text">{{m.gender}}</td>
                        <td class="text">{{m.phoneNo}}</td>
                        <td class="text">{{m.email}}</td>
                        <td class="text">{{m.qualification}}</td>
                        <td class="text">{{m.collegeName}}</td>
                        <td class="text">{{m.courseName}}</td>
                        <td class="text">{{m.subjectName}}</td>

                        <td class="text">
                            <a (click)="forward('/faculty/' + m.id)" style="cursor:pointer;">
                                {{'Common.Edit' | translate}}
                            </a>
                        </td>

                    </tr>
                </tbody>

            </table>
        </div>

        <!-- BUTTONS -->
        <table width="100%" *ngIf="form.list.length > 0">
            <tr>

                <td>
                    <button class="btn btn-warning" (click)="previous()" [disabled]="form.pageNo == 0">
                        {{'Common.Previous' | translate}}
                    </button>
                </td>

                <td>
                    <button class="btn btn-primary" (click)="forward('/faculty')">
                        {{'Common.New' | translate}}
                    </button>
                </td>

                <td>
                    <button class="btn btn-danger" (click)="deleteMany()">
                        {{'Common.Delete' | translate}}
                    </button>
                </td>

                <td align="right">
                    <button class="btn btn-warning" (click)="next()" [disabled]="form.nextListSize == 0">
                        {{'Common.Next' | translate}}
                    </button>
                </td>

            </tr>
        </table>

        <!-- BACK -->
        <div class="text-center mt-3" *ngIf="form.list.length == 0">
            <button class="btn btn-primary" (click)="reset()">
                {{'Common.Back' | translate}}
            </button>
        </div>

    </div>

</div>