<style>
    .p4 {
        background-image: url('assets/img/welcome.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        padding: auto;
    }

    .cl {
        font-family: "Footlight MT Light", "Monotype Corsiva", "Lucida Calligraphy";
    }

    .welcome-text {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<body class="p4">
    <div class="container-fluid welcome-text">
        <h1 class="cl text-center text-danger font-weight-bold">
            Welcome to ORSProject-10
        </h1>
    </div>

</body>